<div class="jumbotron">
	<div class="container">
		<h1> Welcom to Organaization of Disabled Support Activities</h1>
		<p> This page provides user action based communication. We mainly provide ...
		<ul>
			<li>one</li>
			<li>two</li>
		</ul>
		</p>
		適当に後で変える
		<p><a class="btn btn-lg btn-warning" href="#">Learn More!!</a></p>
	</div>
</div>
<div class="container" style="padding:0px 0">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Activity 1</div>
				<div class="panel-body">
					Panel content
					<a href="http://expo.getbootstrap.com">
						sample of bootstrap
					</a>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Activity 3</div>
				<div class="panel-body">
					Panel content<br>
					Panel content<br>
					Panel content<br>
				</div>
			</div>
		</div>		
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">Activity 2</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">Activity 4</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>

			<div class="panel panel-danger">
				<div class="panel-heading">Activity 4</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Activity 4</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</div>		
	</div>
</div>
