<div class="jumbotron">
	<div class="container">
		<h1> Entertaiment Top Page</h1>
		<p> This page provides user action based communication. We mainly provide ...
		<ul>
			<li>one</li>
			<li>two</li>
		</ul>
		</p>
		適当に後で変える
		<p><a class="btn btn-lg btn-warning" href="#">Learn More!!</a></p>
	</div>
</div>
<div class="container" style="padding:0px 0">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Activity 1</div>
				<div class="panel-body">
					Panel content
					<a href="http://expo.getbootstrap.com">
						sample of bootstrap
					</a>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Activity 3</div>
				<div class="panel-body">
					Panel content<br>
					Panel content<br>
					Panel content<br>
				</div>
			</div>
		</div>		
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">Activity 2</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">Activity 4</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>

			<div class="panel panel-danger">
				<div class="panel-heading">Activity 4</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Activity 4</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</div>		
	</div>
</div>
<div class="container">
	<%= image_tag("image1.JPG", :size => "1200x480") %>
</div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
        <img src="/images/image1.jpg"/>
        <div class="carousel-caption">
            <h4>1枚目</h4>
            <p>1枚目の画像の説明</p>
        </div>
    </div>
    <div class="item">
        <img src="/images/image2.jpg"/>
        <div class="carousel-caption">
            <h4>2枚目</h4>
            <p>2枚目の画像の説明</p>
        </div>
    </div>
    <div class="item">
        <img src="/images/image3.jpg"/>
        <div class="carousel-caption">
            <h4>3枚目</h4>
            <p>3枚目の画像の説明</p>
        </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
